.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

.idea
*.iml
*.ipr
*.iws
.vscode/
*.code-workspace

.DS_Store
Thumbs.db

run/

# 不需要放进仓库的文件
website/
killsay.txt
killpatterns.json
